@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f0f0f0; /* Track color */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #3b82f6; /* Thumb color */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2563eb; /* Thumb hover color */
}
